<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Spinit.Wpc.Synologen.Client.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SelectedServiceEndPointName" value="localClear" />
		<add key="CertificateSubjectName" value="CN=SynologenWebServiceCert" />
		<add key="ClientCredentialUserName" value="synologen-client" />
		<add key="ClientCredentialPassword" value="6m9M3v8" />
		<add key="InvoicingMethodIdFilter" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen5;Data Source=BLACK;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>	
	<userSettings>
		<Spinit.Wpc.Synologen.Client.Properties.Settings>
			<setting name="SPCSCommonFilesPath" serializeAs="String">
				<value>C:\Documents and Settings\All Users\Application Data\SPCS\SPCS Administration\Gemensamma filer</value>
			</setting>
			<setting name="SPCSCompanyPath" serializeAs="String">
				<value>P:\SPCS\SPCS Administration\Nya Synhälsan Svenska AB</value>
			</setting>

			<setting name="ScriptFolder" serializeAs="String">
				<value>C:\Develop\WPC\Current-CustomerSpecific\Synologen\Synologen IntegrationTest\Scripts\FrameData\</value>
			</setting>
		</Spinit.Wpc.Synologen.Client.Properties.Settings>
	</userSettings>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\Develop\WPC\Current-CustomerSpecific\Synologen\Synologen IntegrationTest\app_mess.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
		<client>
			<endpoint name="localClear" address="http://localhost/SynologenWebService/SynologenService.svc/clearText" binding="basicHttpBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService" />
			<endpoint name="localEncrypted" address="http://localhost/SynologenWebService/SynologenService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService" behaviorConfiguration="myClientBehavior">
				<identity>
					<dns value="SynologenWebServiceCert"/>
				</identity>
			</endpoint>
			<endpoint name="blackEncrypted" address="http://webservice-dev.synologen.nu/SynologenService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService" behaviorConfiguration="myClientBehavior">
				<identity>
					<dns value="SynologenWebServiceCert"/>
				</identity>
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureBinding" maxReceivedMessageSize="1048576">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="myClientBehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="Custom" customCertificateValidatorType="Spinit.Wpc.Synologen.ServiceLibrary.CertificateValidator,Spinit.Wpc.Synologen.ServiceLibrary" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>