<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="Spinit.Wpc.Synologen.OPQ.Data.Test.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbTestSynologenOpq;Persist Security Info=True;User ID=sa;Password=RICE17A" />
    </connectionStrings>
</configuration>