/*================================================
	© 2008 Spinit AB, All rights reserved.
	Author: Kristoffer Ahl
================================================*/

/* =ComponentSpecific
================================================*/
#dCompNavigation,
#dCompSubNavigation {display:none;}

/* =PageSpecific
================================================*/
.Components-Courses-ViewApplication-aspx table.detailsMode caption {font-weight: bold; text-align: left; border-bottom: solid 1px black;}
.Components-Courses-ViewApplication-aspx table.detailsMode {width: 600px;}
.Components-Courses-ViewApplication-aspx table.detailsMode th {width: 200px; text-align: left; }