/*================================================
	© 2008 Spinit AB, All rights reserved.
	Author: Kristoffer Ahl
================================================*/
.Components-Courses-ViewApplication-aspx table.detailsMode {width: 800px;}
.Components-Courses-ViewApplication-aspx table.detailsMode th {width: 200px;}
.Components-Courses-ViewApplication-aspx .striped tbody tr:hover th,
.Components-Courses-ViewApplication-aspx .striped tbody tr:hover td {
	background-color:inherit;
	color:inherit;
}

.Components-Courses-ViewApplication-aspx .striped tbody tr.odd:hover th, 
.Components-Courses-ViewApplication-aspx .striped tbody tr.odd:hover td {
	background-color:#EEEEEE;
	color:inherit;
}