<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Wpc">
			<section name="ComponentConfig" type="Spinit.Wpc.Utility.Business.ConfigSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	<Wpc>
		<ComponentConfig>
			<Configs>
				<Config component="utility">
					<params>
						<param key="ConnectionName" value="WpcServer" />
					</params>
				</Config>
				<Config component="synologen">
					<params>
						<param key="name" value="Synologen"/>
						<param key="defaultNewOrderStatus" value="1"/>
						<param key="defaultOrderStatusAfterSPCSInvoice" value="2"/>
						<param key="editableOrderStatusList" value="1,4"/>
						<param key="editOrderPage" value="/EditOrderPage.aspx"/>
						<param key="viewOrderPage" value="/ViewOrderPage.aspx"/>
						<param key="editMemberPage" value="/EditMemberPage.aspx"/>
						<param key="viewSettlementPage" value="/ViewSettlementPage.aspx"/>
						<param key="abortStatusId" value="3"/>
						<param key="haltedStatusId" value="4"/>
						<!-- Timeouts in minutes -->
						<param key="cacheTimeout" value="1"/>
						<param key="securityLogoutTimeout" value="1"/>
					</params>
				</Config>
			</Configs>
		</ComponentConfig>
	</Wpc>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=.\SQLEXPRESS;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>