<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="Spinit.Wpc.Synologen.OPQ.Data.Test.Properties.Settings.ConnectionString" connectionString="Initial Catalog=WpcSynologenOpqDataTest;Data Source=DEV\SQL2008;uid=sa;pwd=Rice17A;Pooling=true;Connect Timeout=15;" />
    </connectionStrings>
</configuration>