<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Synologen_OPQ_Generate.Properties.Settings.dbWpcSynologenConnectionString"
            connectionString="Data Source=SIENNA\SQL2008;Initial Catalog=dbWpcSynologen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Spinit.Wpc.Synologen.Opq.Generate.Properties.Settings.dbWpcSynologenConnectionString"
            connectionString="Data Source=SIENNA\SQL2008;Initial Catalog=dbWpcSynologen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Spinit.Wpc.Synologen.Opq.Generate.Properties.Settings.dbWpcSynologenConnectionString1"
            connectionString="Data Source=BLACK;Initial Catalog=dbWpcSynologen;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>