<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SelectedServiceEndPointName" value="localEncrypted"/>
		<add key="CertificateSubjectName" value="CN=SynologenWebServiceCert"/>
		<add key="ClientCredentialUserName" value="synologen-client"/>
		<add key="ClientCredentialPassword" value="6m9M3v8"/>
		<add key="InvoicingMethodIdFilter" value="1"/>
	</appSettings>
	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\Develop\WPC\Version 4.1\CustomerSpecific\Synologen\Synologen WebService Test\app_mess.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>-->
	<system.serviceModel>
		<!--<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtTransportLevel="true" />
		</diagnostics>-->
		<client>
			<endpoint name="localClear" address="http://localhost/SynologenWebService/SynologenService.svc/clearText" binding="basicHttpBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService"/>
			<endpoint name="localEncrypted" address="http://localhost/SynologenWebService/SynologenService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService" behaviorConfiguration="myClientBehavior">
				<identity>
					<dns value="SynologenWebServiceCert"/>
				</identity>
			</endpoint>
			<endpoint name="blackEncrypted" address="http://webservice-dev.synologen.nu/SynologenService.svc" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="Spinit.Wpc.Synologen.ServiceLibrary.ISynologenService" behaviorConfiguration="myClientBehavior">
				<identity>
					<dns value="SynologenWebServiceCert"/>
				</identity>
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureBinding">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="myClientBehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="Custom" customCertificateValidatorType="Spinit.Wpc.Synologen.ServiceLibrary.CertificateValidator,Spinit.Wpc.Synologen.ServiceLibrary"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
