<!-- This example shows you how to configure most of the built in options -->
<configuration>
	<configSections>
		<section name="CorePlugin" type="Moxiecode.Manager.ConfigHandler,MCManager" requirePermission="false" />
	</configSections>
	
	<CorePlugin>
		<plugins>
			<plugin class="Moxiecode.ImageManager.ImageManagerPlugin,MCImageManager" />
		</plugins>
	</CorePlugin>
</configuration>
