<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReadFilesRootPath" value="C:\Develop\WPC\Current-CustomerSpecific\Synologen\trunk\Synologen.LensSubscription\Synologen.LensSubscription.Autogiro.FileIO.Test\ReadTestfiles\"/>
		<add key="WriteOutputRootPath" value="C:\Develop\WPC\Current-CustomerSpecific\Synologen\trunk\Synologen.LensSubscription\Synologen.LensSubscription.Autogiro.FileIO.Test\WriteOutput\"/>
	</appSettings>
</configuration>