<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=DEV\SQL2008;uid=synologen;pwd=rUcRad3;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>	
</configuration>