<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spinit.Wpc.Synologen.OPQ.Data.Test.Properties.Settings.ConnectionString"
            connectionString="Data Source=DEV\SQL2008;Initial Catalog=dbTestSynologenOpq;Persist Security Info=True;User ID=developer;Password=developer" />
    </connectionStrings>
</configuration>