<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Webservice Settings -->
		<add key="ClientCredentialUserName" value="synologen-client" />
		<add key="ClientCredentialPassword" value="6m9M3v8" />
		<add key="LogInformation" value="true" />
		<add key="LogOther" value="true" />
		<!-- Status values -->
		<add key="NewSaleStatusId" value="1" />
		<add key="SaleStatusIdAfterSPCSImport" value="2" />
		<add key="SaleStatusIdAfterInvoicing" value="5" />
		<add key="InvoicePayedToSynologenStatusId" value="6" />
		<add key="InvoiceCancelledStatusId" value="7" />
		
		<!-- Fetches only invoices where company has EDI-->
		<!--<add key="InvoicingMethodIdFilter" value="1"/>-->
		
		<!-- Email Configuration -->
		<add key="SendAdminEmailOnError" value="true" />
		<add key="SMTPServer" value="mail.esend.nu" />
		<add key="AdminEmail" value="carl.berg@spinit.se" />
		<add key="SenderEmail" value="error-report@synologen.nu" />
		<add key="StatusEmailSenderAddress" value="status-report@synologen.nu" />
		<!-- EDI Configuration -->
		<add key="BankGiro" value="56936677" />
		<add key="Postgiro" value="48901037" />
		<add key="EDISenderId" value="5562626100" />
		<add key="VATAmount" value="0.25F" />
		<add key="InvoiceCurrencyCode" value="SEK" />
		<add key="SaveEDIFileCopy" value="true" />
		<add key="EDIFilesFolderPath" value="C:\Develop\WPC\Current-CustomerSpecific\Synologen\trunk\Synologen.ContractSale\Synologen.ContractSale.WebService\Sent EDI-files\" />
		<!-- Svefaktura Configuration -->
		<add key="SaveSvefakturaFileCopy" value ="true"/>
		<add key="BankGiroCode" value="BGABSESS" />
		<add key="PostGiroCode" value="PGSISESS" />
		<add key="ExemptionReason" value="Innehar F-skattebevis" />
		<add key="CurrencyCodeId" value="123" />
		<add key="InvoiceExpieryPenaltySurchargePercent" value="12.50" />
		<add key="InvoicePaymentTermsTextFormat" value="{InvoiceNumberOfDueDays} dagar netto" />
		<add key="SvefakturaInvoiceTypeCode" value="380" />
		<add key="SellingOrganizationCity" value="Klippan" />
		<add key="SellingOrganizationContactEmail" value="info@synologen.se" />
		<add key="SellingOrganizationContactName" value="Lotta Wieslander" />
		<add key="SellingOrganizationCountryCode" value="187" />
		<add key="SellingOrganizationCountryName" value="Sverige"/>
		<add key="SellingOrganizationFax" value="043513133" />
		<add key="SellingOrganizationTelephone" value="043513433" />
		<add key="SellingOrganizationName" value="Synhälsan Svenska AB" />
		<add key="SellingOrganizationNumber" value="5564011962" />
		<add key="SellingOrganizationPostalCode" value="26422" />
		<add key="SellingOrganizationPostBox" value="Box 111" />
		<add key="SellingOrganizationStreetName" value="Köpmansgården" />
		<add key="TaxAccountingCode" value="SE556262610001" />
		<add key="VATFreeReasonMessage" value="Momsfri artikel" />
		<!-- FTP Server Configuration -->
		<add key="FTPServerUrl" value="ftp://black/Synologen/FtpTest" />
		<add key="FTPUserName" value="HOTEL\dev-ftp" />
		<add key="FTPPassword" value="zdUFQRq" />
		<add key="UsePassiveFTP" value="true" />
		<!--
		<add key="FTPServerUrl" value="ftp://ftp.edi.posten.se" />
		<add key="FTPUserName" value="synologen.se" />
		<add key="FTPPassword" value="pk3fmu" />
		<add key="UsePassiveFTP" value="false" />
		-->
		<add key="FTPCustomEncodingCodePage" value="ISO-8859-1" />
		<add key="FTPUseBinaryTransfer" value="true" />

		<!-- Svefaktura PostOffice Header Configuration -->
		<add key="PostnetSender" value="STREAMS000345" />
		<add key="PostnetRecipient" value="SE00087815000" />
		<add key="PostnetMessageType" value="SYNOLOG" />
	</appSettings>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=BLACK;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Spinit.Wpc.Synologen.ServiceLibrary.SynologenService" behaviorConfiguration="Spinit.Wpc.Synologen.WebService.SynologenServiceBehavior">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="Spinit.Wpc.Synologen.Business.Domain.Interfaces.ISynologenService"/>
				<endpoint address="clearText" binding="basicHttpBinding" contract="Spinit.Wpc.Synologen.Business.Domain.Interfaces.ISynologenService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureBinding">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Spinit.Wpc.Synologen.WebService.SynologenServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Spinit.Wpc.Synologen.ServiceLibrary.UserValidation, Spinit.Wpc.Synologen.ServiceLibrary"/>
						<serviceCertificate findValue="SynologenWebServiceCert" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
