<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="PaymentRecieverBankGiroNumber" value="Fake" />
		<add key="PaymentRevieverCustomerNumber" value="123456" />
		<add key="SentFilesFolderPath" value="..\..\SentFiles\" />
		<add key="ReceivedFilesFolderPath" value="..\..\ReceivedFiles\" />
		<add key="BackupFilesFolderPath" value="..\..\BackupFiles\" />
		<add key="RemoteFtpFolder" value="\\BLACK\Inetpub\Dev-FTP\" />
		<add key="FtpUploadFolderUrl" value="black" />
		<add key="FtpUserName" value="HOTEL\dev-ftp" />
		<add key="FtpPassword" value="zdUFQRq" />
		<add key="UseBinaryFTPTransfer" value="true" />
		<add key="HMACHashKey" value="1234567890ABCDEF1234567890ABCDEF" />
		<add key="ReceiveFileNameRegexPattern" value="BFEP\.({ProductCode}|UAGU4)\.K0{CustomerNumber}\.D(?&lt;datePart&gt;\d{6})\.T(?&lt;timePart&gt;\d{6})$" />
	</appSettings>
	
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="SmtpAppender" />
		</root>
		<logger name="NHibernate">
		  <level value="WARN" />
		</logger>

		<logger name="NHibernate.SQL">
		  <level value="WARN" />
		</logger>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="applicationlog.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %message%newline" />
			</layout>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<threshold value="WARN"/>
			<to value="carl.berg@spinit.se" />
			<from value="error-report@synologen.nu" />
			<subject value="Synologen Lens Subscription Coordinator Error" />
			<smtpHost value="mail.spinit.se" />
			<bufferSize value="512" />
			<lossy value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %message %newline%newline%exception %newline" />
			</layout>
		</appender>
	</log4net>
	<connectionStrings>
		<add name="BGServer" connectionString="Initial Catalog=dbSynologenBGC;Data Source=LIGHTCORAL;Integrated Security=SSPI;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>