/*================================================
	© 2006 Spinit AB, All rights reserved.
	Author: Kristoffer Ahl
================================================*/
.Content-PageAdvancedProperties-aspx h2 {display:none}
.Content-PageControl-ascx h2 {display:none}

.Content-Connections-ascx .wrap {padding: 0 15px; width: auto !important;}
.Content-Connections-ascx .wrap > * {margin-right: 0; margin-left: 0;}

.Content-MenuControl-ascx .formItem {width:30em;}