/*================================================
	© 2006 Spinit AB, All rights reserved.
	Author: Kristoffer Ahl
================================================*/
h1 { display:none }

/* =SpotImage-ascx */
.SpotImage-ascx {position: relative;}
.SpotImage-ascx .spotBtn {padding: .1em .3em; font-size: 1em; float: right; }
.SpotImage-ascx .selectSpotContainer {position: absolute; top: -50px; left: 80px; width: 650px; background-color: #ddd; border: solid 1px #aaa;}
.SpotImage-ascx .selectSpotWrap {float: left; padding: 0 10px;}
.SpotImage-ascx .selectSpotList {float: left; width: 370px; height: 300px; overflow: auto; padding: 8px 10px 8px 1px;}
.SpotImage-ascx .parent-directory {display: block; margin: 0 0 .5em 0; padding: .5em 0;}
.SpotImage-ascx .selectSpotPreview {position: absolute; left: 400px; min-width: 220px; max-width: 220px; min-height: 80px; max-height: 220px; margin-top: 1em; border: solid 10px #f0f0f0; background-color: #f0f0f0; text-align: center; vertical-align: middle;}
.SpotImage-ascx .selectSpotButtons {position: absolute; bottom: 8px; right: 8px; width: 100px; padding: 0 0 0 0;}
.SpotImage-ascx .selectSpotCaption {padding: .5em 1em; background: #ccc url('/common/img/TableHeaderBG.png') repeat-x top left;}