<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spinit.Wpc.Synologen.OPQ.Data.Test.Properties.Settings.ConnectionString"
            connectionString="Data Source=DEV\SQL2008;Initial Catalog=WpcSynologenOpqDataTest;Persist Security Info=True;User ID=sa;Password=Rice17A" />
    </connectionStrings>
</configuration>