<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<system.serviceModel>
		<client>
			<endpoint 
				address="http://localhost:53718/Service.svc" 
				binding="basicHttpBinding"
                contract="Synologen.Service.Web.External.AcceptanceTest.Domain.IAddCustomerService"  />
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=.\SQLEXPRESS;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

