<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="ServiceBinding">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint 
				address="http://localhost:53219/Service.svc" 
				binding="wsHttpBinding"
				bindingConfiguration="ServiceBinding"
                contract="Synologen.Service.Web.External.AcceptanceTest.Domain.IAddCustomerService"  />
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=.\SQLEXPRESS_2012;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

