/*================================================
	© 2006 Spinit AB, All rights reserved.
	Author: Kristoffer Ahl
================================================*/
/* =Valid colors
	---------------------------------
	#990000		Background (error)
	#444		Text
	#AAA		Borders, Background (dark)
	#DDD		Background, Gradient (medium)
	#EEE		Background, Gradient (light)
	#FFFFDD		Hoverstyle
	White		Background, Borders, Text
	---------------------------------
*/

.wpc-file-manager .internal-navigation ul{ float:left; margin:0; padding:0; width:100%; }
.wpc-file-manager .internal-navigation ul li { float:left; padding:6px 12px 6px 0px; }
.wpc-file-manager .wpc-file-manager-files img { max-width: 80px; max-height: 80px; }

.dWysiwyg {margin-bottom:1em; width:70%;}

#dCompSecondNavigation,
#dCompSecondNavigation {float: left; clear: both; width: 100%; font-family: Arial, Tahoma, "Lucida Grande", Verdana, Sans-Serif; font-weight: bold; text-transform: uppercase;}
#dCompSecondNavigation {text-transform: none;}
#dCompSecondNavigation ul {float: left; clear: both; width: 100%; margin: 0; padding: 0; background: #ddd url('../../../Common/img/CompSubNavigationBG.png') repeat-x bottom left;}
#dCompSecondNavigation li {float: left; margin-top: 5px; padding: 6px 0; background: #EEE url('../img/CompNavigationItemBG.png') repeat-x bottom left; border-right: solid 1px #AAA; border-bottom: solid 1px #AAA; border-left: solid 1px White; border-top: solid 1px White;}
#dCompSecondNavigation a,
#dCompSecondNavigation a:link,
#dCompSecondNavigation a:visited {padding: 6px 12px; color: #444; background-color: Transparent; border: 0;}
#dCompSecondNavigation a:hover,
#dCompSecondNavigation a:focus {color: #444; background-color: #FFFFDD;}
#dCompSecondNavigation li.Sub-Selected {border-bottom: solid 1px #EEE;}
#dCompSecondNavigation li.noChildren {border-bottom: 0;}
#dCompSecondNavigation a[disabled="disabled"] {color: #777; background: inherit;}
#dCompSecondNavigation li:first-child {margin-left: 15px;}
#dCompSubNavigation ul {background: #eee none;}

#product-files-list li{padding:0 10px 0 0;}

#dCompContent {float: left; clear: both; width: 100%;}
#dCompContent .commerce-message {position: relative; top: 0px; padding: .5em 1em 1.5em 1em; font-family: Arial, Tahoma, "Lucida Grande", Verdana, Sans-Serif; font-weight: bold; font-size: 1.4em; border: solid 1px #AAA; border-top: 0; border-right: 0;}
#dCompContent .commerce-message ul {margin: .3em 0 0 1em; padding: 0; list-style-type: disc; list-style-position: inside;}
#dCompContent .commerce-message li {font-family: "Lucida Grande", Verdana, Tahoma, Arial, Sans-Serif; font-size: .7em; color: White; background-color: inherit;}
.negative {color: inherit !important; background: #990000 url(../../../common/img/ErrorBG.png) repeat-x top left;}
.positive {color: #339900 !important; background: #339900 url(../../../common/img/SuccessBG.png) repeat-x top left;}


/* File select control*/
.product-file-connection-description { margin-bottom:40px; }
.wpc-file-manager-wrap .form-actions  input[type="submit"] { position:absolute; bottom:20px; }

/* File upload control*/
.wpc-file-manager-wrap .wpc-file-manager-upload-container fieldset { border:none; padding-left:0; margin-bottom:0px; }
.wpc-file-manager-wrap .wpc-file-manager-upload-container fieldset  legend{ display:none; visibilty:hidden; }
.attach {position:relative;}