<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=.\SQLEXPRESS;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
