<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="WpcServer" 
      connectionString="Initial Catalog=dbWpcSynologen_2012-10-10;Data Source=.\SQLEXPRESS;Trusted_Connection=True;Pooling=true;Connect Timeout=15;" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
