<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Wpc">
			<section name="ThreadConfig" type="Spinit.Wpc.Utility.Business.ThreadSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="ComponentMain" type="Spinit.Wpc.Utility.Business.ComponentSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="ComponentConfig" type="Spinit.Wpc.Utility.Business.ConfigSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	<Wpc>
		<ThreadConfig>
			<Config component="thread">
				<params>
					<param key="active" value="true" />
					<param key="clean" value="false" />
					<param key="threaduser" value="Admin" />
					<!-- cleaninterval in minutes -->
					<param key="cleaninterval" value="2" />
				</params>
			</Config>
			<Threads>
				<!-- name="name of thread" (IsRequired = true) -->
				<!-- interval="timeinterval" (IsRequired = true) -->
				<!-- timetype="0=minutes(default),1=hours,2=days,3=weeks,4=months" (IsRequired = false) -->
				<!-- type="class-name, dll" alt. type="dll.classname" (IsRequired = true) -->
				<add name="GoogleSiteMap" interval="1" timetype="1" type="Spinit.Wpc.Content.Business.Thread.GoogleSiteMap, Spinit.Wpc.Content.Business " />
				<add name="Publish" interval="1" timetype="1" type="Spinit.Wpc.Content.Business.Thread.Publish, Spinit.Wpc.Content.Business" />
				<!--<add name="TemplateSynchronizer" interval="5" timetype="0" type="Spinit.Wpc.Content.Business.Thread.TemplateSynchronizer, Spinit.Wpc.Content.Business, Version=4.2.6, Culture=neutral"/>-->
			</Threads>
		</ThreadConfig>
		<ComponentMain>
			<Config component="component">
				<params>
					<param key="Active" value="true" />
					<param key="MaxCountLatestChanges" value="20" />
					<param key="MaxCountCmpForApproval" value="10" />
					<param key="MaxCountCmpSavedForLater" value="10" />
					<param key="MaxCountCmpLatestChanges" value="10" />
				</params>
			</Config>
			<Components>
				<!-- type="class-name, dll" alt. type="dll.classname" -->
				<add name="Content" type="Spinit.Wpc.Content.Business.ShowMainPage" />
				<!--<add name="News" type="Spinit.Wpc.News.Business.WpcMainPage" />				-->
				<add name="Courses" type="Spinit.Wpc.Courses.Business.WpcMainPage"/>
				<add name="Member" type="Spinit.Wpc.Member.Business.WpcMainPage" />
				<add name="News" type="Spinit.Wpc.News.Business.WpcMainPage" />
			</Components>
		</ComponentMain>
		<ComponentConfig>
			<Configs>
				<Config component="base">
					<params>
						<param key="name" value="Base" />
						<!-- File and wysiwyg configurations. -->
						<param key="filepath" value="X:\Synologen\Common\Files\" />
						<param key="fileurl" value="/CommonResources/Files/" />
						<param key="csspath" value="D:\Inetpub\Synologen\Common\Styles\" />
						<param key="cssurl" value="/CommonResources/Styles/" />
						<param key="contenttemplatepath" value="D:\Inetpub\Synologen\Common\Templates\Master\" />
						<param key="contenttemplateurl" value="/CommonResources/Templates/Master/" />
						<param key="pagetemplatepath" value="D:\Inetpub\Synologen\Common\Templates\Snippet\" />
						<param key="pagetemplateurl" value="/CommonResources/Templates/Snippet/" />
						<param key="mailtemplatepath" value="D:\Inetpub\Synologen\Common\MailTemplates\" />
						<param key="wysiwygconfigpath" value="/CommonResources/CommonControls/Wysiwyg/RadControls/Editor/ConfigFile.xml" />
						<param key="imagetype" value="gif,jpg,jpeg,png,bmp" />
						<param key="flashtype" value="swf" />
						<param key="mediatype" value="avi,mpeg,wmf" />
						<param key="doctype" value="doc,pdf,xls,txt,eps,ppt" />
						<!-- end -->
						<!-- Base component configuration -->
						<param key="componentimage" value="/common/img/component.gif" />
						<param key="defaultresolution" value="72" />
						<param key="defaultthumbnailheight" value="150" />
						<param key="defaultthumbnailwidth" value="150" />
						<param key="ProductName" value="Web Portal Components" />
						<param key="ProductVersion" value="4.0" />
						<param key="ProductBodyId" value="web-portal-components-4" />
						<param key="CopyrightInfo" value="Copyright 2006" />
						<param key="baseurl" value="http://localhost:2980/" />
						<param key="startPage" value="Index.aspx" />
						<!-- 1=plain, 2=Sha1-hashed, 3=MD5-hashed, 4=Encrypted -->
						<param key="passwordtype" value="1" />
						<!-- One of 'utf-8' or 'iso-8859-1'-->
						<param key="passwordencoding" value="utf-8" />
						<!-- end -->
						<!-- Email template files. -->
						<param key="MailTemplate_ForgottenPassword" value="Core-ForgottenPassword.txt"/>
						<param key="MailTemplate_PasswordChanged" value="Core-PasswordChanged.txt"/>
						<param key="MailTemplate_UserDetails" value="Core-UserDetails.txt"/>
						<!-- end -->
						<param key="DefaultLanguage" value="sv-SE" />
					</params>
					<!-- Update Files -->
					<UpdateFiles>
						<!-- type="class-name, dll" alt. type="dll.classname" -->
						<add name="Content" type="Spinit.Wpc.Content.Business.UpdateFilePath" />
						<add name="Courses" type="Spinit.Wpc.Courses.Business.UpdateFilePath"/>
						<add name="Document" type="Spinit.WpcDocument.Business.SaveDocumentFile" />
						<add name="News" type="Spinit.Wpc.News.Business.UpdateFilePath" />
					</UpdateFiles>
					<!-- ends -->
					<!-- Search Files -->
					<SearchFiles>
						<!-- type="Stored procedure name" -->
						<add name="Courses" type="sfCourseGetCourseFiles"/>
						<add name="Document" type="sfDocumentGetDocumentFiles" />
						<add name="Content" type="sfContGetPageLinks"/>
						<add name="News" type="sfNewsGetNewsFiles"/>
					</SearchFiles>
					<!-- ends -->
				</Config>
				<Config component="utility">
					<params>
						<param key="ResourcePath" value="D:\Inetpub\Synologen\Common\" />
						<param key="ResourceUrl" value="/CommonResources/" />
						<param key="ScriptsPath" value="D:\Inetpub\Synologen\Common\Scripts\" />
						<param key="ScriptsUrl" value="Scripts/" />
						<param key="StylesPath" value="D:\Inetpub\Synologen\Common\Styles\" />
						<param key="StylesUrl" value="Styles/" />
						<param key="FilesPath" value="X:\Synologen\Common\Files\" />
						<param key="FilesUrl" value="Files/" />
						<param key="PageTemplateWebForm" value="D:\Inetpub\Synologen\Common\Templates\PageTemplateWebForm.txt" />
						<param key="PageTemplateMvc" value="D:\Inetpub\Synologen\Common\Templates\PageTemplateMvc.txt" />
						<param key="ContentTemplatePath" value="D:\Inetpub\Synologen\Common\Templates\Master\" />
						<param key="ContentTemplateUrl" value="Templates/Master/" />
						<param key="SnippetTemplatePath" value="D:\Inetpub\Synologen\Common\Templates\Snippet\" />
						<param key="SnippetTemplateUrl" value="Templates/Snippet/" />
						<param key="AuthenticationFolder" value=" " />
						<param key="MailPath" value="D:\Inetpub\Synologen\Common\MailTemplates\"/>
						<param key="MailFrom" value="info@spinit.se"/>
						<param key="MailSubject" value="Information" />
						<param key="MinPasswordLength" value="6"/>
						<param key="MaxPasswordLength" value="8"/>
						<param key="PasswordCharsLowerCase" value="abcdefghijkmnopqrstuvwxyz"/>
						<param key="PasswordCharsUpperCase" value="ABCDEFGHIJKLMNPQRSTUVWXYZ"/>
						<param key="PasswordCharsNumeric" value="23456789"/>
						<param key="PasswordCharsSpecial" value="-"/>
						<param key="ConnectionName" value="WpcServer"/>
						<param key="SpinitServicesAddress" value="http://devservices.spinit.se" />
						<param key="SpinitServicesUserName" value="SpinitSendUser" />
						<param key="SpinitServicesPassword" value="hemligt" />
						<param key="SpinitServicesPasswordType" value="Sha1" />
						<param key="SpinitServicesPasswordEncoding" value="Utf-8" />
						<param key="AuthenticationFolder" value=" " />
						<param key="ControlPropertyMapFilePath" value="D:\Inetpub\Synologen\Common\Templates\ControlPropertyMap.xml" />
						<param key="ControlTemplateFilePath" value="D:\Inetpub\Synologen\Common\Templates\ControlTemplate.xml" />
						<param key="ThrowExceptionIfControlIsNotMapped" value="false" />
					</params>
				</Config>
				<Config component="content">
					<params>
						<param key="name" value="Content"/>
						<param key="encoding" value="utf-8"/>
						<param key="cachelocation" value="None"/>
						<param key="cachetime" value="3600"/>
						<param key="cachesession" value="true"/>
						<param key="usecache" value="false"/>
						<param key="PublishUser" value="Admin"/>
						<param key="GoogleSiteMap" value="SiteMap.xml"/>
						<param key="GoogleRequest" value="http://www.google.com/webmasters/tools/ping?sitemap="/>
						<!-- {0} = site-name -->
						<param key="publishmailsubject" value="Publish on {0} "/>
						<!-- {0} = site-name, {1} = type, {2} = name and {3} = user.  -->
						<param key="publishmailbody" value="Publish requested on {0}. {1} {2} by {3}."/>
						<!-- End content admin -->
						<!-- Content site -->
						<param key="UserName" value="Admin"/>
						<!-- content site-->
						<param key="Clean" value="true"/>
						<param key="Publish" value="true"/>
						<param key="NotDelete" value=" "/>
						<param key="ForApprovalMailTemplate" value="Core-ForApproval.txt"/>
						<param key="UniqueBodyClassFormat" value="page-{0}" />
						<param key="BodyId" value="wpcbody" />
					</params>
					<!-- Update Files -->
					<UpdateFiles>
						<!-- type="class-name, dll" alt. type="dll.classname" -->
						<add name="Courses" type="Spinit.Wpc.Courses.Business.UpdatePagePath"/>
						<add name="Content" type="Spinit.Wpc.Content.Business.UpdatePagePath"/>
						<add name="News" type="Spinit.Wpc.News.Business.UpdatePagePath"/>
					</UpdateFiles>
					<!-- ends -->
					<!-- Search Files -->
					<SearchFiles>
						<!-- type="Stored procedure name" -->
						<add name="Courses" type="sfCourseGetCoursePages"/>
						<add name="Content" type="sfContGetPagePageLinks"/>
						<add name="News" type="sfNewsGetNewsPages"/>
					</SearchFiles>
					<!-- ends -->
				</Config>
				<Config component="courses">
					<params>
						<param key="name" value="Courses"/>
						<param key="componentApplicationPath" value="/components/Courses/"/>
						<param key="connectionName" value="WpcServer"/>
					</params>
				</Config>
				<Config component="news">
					<params>
						<param key="name" value="News" />
						<param key="componentApplicationPath" value="/components/News/" />
						<param key="connectionName" value="WpcServer" />
						<param key="EnableSpotImage" value="true" />
						<param key="EnableSpotImageAlign" value="true" />
						<param key="EnableNewsType" value="true" />
						<param key="EnableGroupConnection" value="true" />
						<param key="DefaultSpotImageWidth" value="200" />
						<param key="DefaultSpotImageHeight" value="180" />
						<param key="EnableMultilineHeader" value="false" />
					</params>
				</Config>
				<Config component="member">
					<params>
						<param key="name" value="Member"/>
						<param key="componentApplicationPath" value="/components/Member/"/>
						<param key="connectionName" value="WpcServer" />
						<param key="usePublicDetails" value="True"/>
						<param key="useUserConnection" value="True"/>
						<param key="defaultProfilePictureId" value="107" />
					</params>
				</Config>
				<Config component="synologen">
					<params>
						<param key="name" value="Synologen"/>
						<param key="componentApplicationPath" value="/components/Synologen/"/>
						<param key="masterShopCategoryId" value="1"/>
						<param key="defaultNewOrderStatus" value="1"/>
						<param key="defaultOrderStatusAfterSPCSInvoice" value="2"/>
						<param key="categoriesWithoutShops" value="2"/>
						<param key="editableOrderStatusList" value="1,4,5,7,9"/>
						<param key="abortStatusId" value="3"/>
						<param key="haltedStatusId" value="4"/>
						<param key="readyForSettlementStatusId" value="6"/>
						<param key="defaultOrderIdAfterSettlement" value="8"/>
						<param key="defaultAdminPageSize" value="40"/>
						<param key="GoogleGeocode" value="http://maps.googleapis.com/maps/api/geocode/json?sensor=false&amp;address={0},+Sverige" />
						<param key="GoogleShowCoordinates" value="http://maps.google.se/maps?q={0},{1}&amp;hl=sv&amp;t=h&amp;z=14" />
						<!--<param key="settlementVATAmount" value="0.25"/>-->
					</params>
				</Config>
				<Config component="SynologenOpq">
					<params>
						<param key="name" value="Synologen"/>
						<param key="connectionName" value="WpcServer"/>
						<param key="componentApplicationPath" value="/components/Synologen/"/>
						<param key="DocumentShopRootUrl" value="opq/shops/" />
						<param key="DocumentCentralRootUrl" value="opq/central/" />
						<param key="UploadAllowedExtensions" value="doc,txt,docx,xls,xlsx,pdf" />
						<param key="UploadMaxFileSize" value="2097152" />
						<param key="ImprovmentSubject" value="Feedback på förbättringsförslag" />
					</params>
				</Config>
				<Config component="gallery">
					<params>
						<param key="name" value="Gallery"/>
						<param key="componentApplicationPath" value="/components/Gallery/"/>
						<param key="useSpotImage" value="false"/>
					</params>
				</Config>
				<Config component="campaign">
					<params>
						<param key="name" value="Campaign"/>
						<param key="componentApplicationPath" value="/components/Campaign/"/>
					</params>
				</Config>
				<Config component="quickform">
					<params>
						<param key="name" value="QuickForm"/>
						<param key="sender" value="info@spinit.se"/>
						<param key="sendto" value="niklas@spinit.se"/>
						<param key="mailServer" value="mail.esend.nu"/>
						<param key="requiredAlert" value="Please type your {0}"/>
						<param key="emailInvalidAlert" value="You have typed an invalid {0}"/>
						<param key="emailName" value="Email"/>
						<param key="charset" value="utf-8"/>
						<param key="maxFileSize" value="1024000"/>
						<param key="componentApplicationPath" value="/components/QuickForm/"/>
						<param key="componentPublicPath" value="\Wpc\QuickForm\"/>
					</params>
				</Config>
				<Config component="document">
					<params>
						<param key="name" value="Document"/>
						<param key="componentApplicationPath" value="/components/Document/" />
						<param key="connectionName" value="WpcServer" />
						<param key="doctype" value="doc,xls,pdf" />
						<param key="maxContentMegaBytes" value="1000" />
						<param key="rootlibrary" value="DocumentRoot" />
						<!-- value="class-name, dll" alt. type="dll.classname" -->
						<param key="provider" value="Spinit.Wpc.Document.Business.SaveDocumentFile" />
					</params>
				</Config>
				<Config component="wysiwyg">
					<params>
						<!--<param key="DefaultStylesheetPath" value="/Css/Styles.css"/>-->
						<param key="FileUrl" value="/CommonResources/Files/"/>
						<param key="PagetemplateUrl" value="/CommonResources/Templates/Snippet/" />
						<param key="CommonCssUrl" value="/CommonResources/Styles/" />
						<param key="RootFolder" value="/CommonResources/CommonControls/Wysiwyg/"/>
						<param key="Skin" value="Default"/>
						<param key="DictionaryPath" value="/App_Data/RadSpell/" />
					</params>
				</Config>
			</Configs>
		</ComponentConfig>
	</Wpc>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=.\SQLEXPRESS;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<pages validateRequest="false" theme="Default">
			<controls>
				<add tagPrefix="utility" assembly="Spinit.Wpc.Utility.Business" namespace="Spinit.Wpc.Utility.Business.Controls" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="WPC" namespace="Spinit.Wpc.Utility.Business" assembly="Spinit.Wpc.Utility.Business"/>
				<add tagPrefix="dtc" tagName="DateTimeCalendar" src="~/Common/DateTimeCalendar.ascx"/>				
				<add tagPrefix="WPC" tagName="WpcWysiwyg" src="~/CommonResources/CommonControls/Wysiwyg/WpcWysiwyg.ascx"/>
				<add tagPrefix="spinit" assembly="Spinit.Web.UI.WebControls.MessageManager" namespace="Spinit.Web.UI.WebControls" />
			</controls>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="Spinit.Wpc.Content.Presentation.Models" />
				<add namespace="Spinit.Wpc.Content.Presentation.Code" />
				<add namespace="Spinit.Extensions" />
				<add namespace="MvcContrib" />
				<add namespace="MvcContrib.UI.Grid" />
				<add namespace="MvcContrib.UI.Grid.ActionSyntax"/>
			</namespaces>
		</pages>
		<siteMap defaultProvider="TreeProvider">
			<providers>
				<add name="TreeProvider" type="Spinit.Wpc.Content.Business.TreeSiteMapProvider, Spinit.Wpc.Content.Business" siteMapFile="" />
			</providers>
		</siteMap>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors defaultRedirect="~/Error.aspx" mode="Off">
			<error statusCode="404" redirect="~/Error.aspx" />
			<error statusCode="500" redirect="~/Error.aspx" />
		</customErrors>
		<authentication mode="Forms">
			<forms name="WPC" path="/" loginUrl="Login.aspx"/>		
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
		<xhtmlConformance mode="Strict"/>
		<httpRuntime maxRequestLength="20480" executionTimeout="3600"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add name="UnitOfWorkModule" type="Spinit.Wpc.Core.UI.UnitOfWorkModule"/>
		</modules>
		<handlers>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" />
			<add name="Telerik.Web.UI.DialogHandler" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" />
			<add name="Telerik.Web.UI.SpellCheckHandler" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler" />
		</handlers>
	</system.webServer>
	<location path="Common">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>