<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BGServer" connectionString="Initial Catalog=dbSynologenBGC;Data Source=(local);Integrated Security=SSPI;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>	
</configuration>