<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spinit.Wpc.Synologen.OPQ.Data.Test.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SynologenData;Persist Security Info=True;User ID=developer;Password=developer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>