<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Wpc">
			<section name="ComponentConfig" type="Spinit.Wpc.Utility.Business.ConfigSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="ThreadConfig" type="Spinit.Wpc.Utility.Business.ThreadSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<sectionGroup name="forums">
			<section name="forums" type="Spinit.Wpc.Forum.Configuration.ForumsConfigurationHandler, Spinit.Wpc.Forum.Components"/>
		</sectionGroup>
	</configSections>
	<Wpc>
		<ThreadConfig>
			<Config component="thread">
				<params>
					<param key="active" value="true" />
					<param key="clean" value="false" />
					<param key="threaduser" value="Admin" />
					<!-- cleaninterval in minutes -->
					<param key="cleaninterval" value="2" />
				</params>
			</Config>
			<Threads>
				<!-- name="name of thread" (IsRequired = true) -->
				<!-- interval="timeinterval" (IsRequired = true) -->
				<!-- timetype="0=minutes(default),1=hours,2=days,3=weeks,4=months" (IsRequired = false) -->
				<!-- type="class-name, dll" alt. type="dll.classname" (IsRequired = true) -->
				<add name="Email" interval="2" type="Spinit.Wpc.Base.Business.EmailThread, Spinit.Wpc.Base.Business" />
			</Threads>
		</ThreadConfig>


		<ComponentConfig>
			<Configs>
				<Config component="utility">
					<params>
						<param key="ResourcePath" value="D:\Inetpub\Synologen\Common\" />
						<param key="ResourceUrl" value="/CommonResources/" />
						<param key="ScriptsPath" value="D:\Inetpub\Synologen\Common\Scripts\" />
						<param key="ScriptsUrl" value="Scripts/" />
						<param key="StylesPath" value="D:\Inetpub\Synologen\Common\Styles\" />
						<param key="StylesUrl" value="Styles/" />
						<param key="FilesPath" value="D:\Inetpub\Synologen\Common\Files\" />
						<param key="FilesUrl" value="Files/" />
						<param key="PageTemplateWebForm" value="D:\Inetpub\Synologen\Common\Templates\PageTemplateWebForm.txt" />
						<param key="PageTemplateMvc" value="D:\Inetpub\Synologen\Common\Templates\PageTemplateMvc.txt" />
						<param key="ContentTemplatePath" value="D:\Inetpub\Synologen\Common\Templates\Master\" />
						<param key="ContentTemplateUrl" value="Templates/Master/" />
						<param key="SnippetTemplatePath" value="D:\Inetpub\Synologen\Common\Templates\Snippet\" />
						<param key="SnippetTemplateUrl" value="Templates/Snippet/" />
						<param key="AuthenticationFolder" value=" "/>
						<param key="MailPath" value="D:\Inetpub\Synologen\Common\MailTemplates\" />
						<param key="MailFrom" value="info@spinit.se" />
						<param key="MailSubject" value="WPC Notification" />
						<param key="MinPasswordLength" value="6" />
						<param key="MaxPasswordLength" value="8" />
						<param key="PasswordCharsLowerCase" value="abcdefghijkmnopqrstuvwxyz" />
						<param key="PasswordCharsUpperCase" value="ABCDEFGHIJKLMNPQRSTUVWXYZ" />
						<param key="PasswordCharsNumeric" value="23456789" />
						<param key="PasswordCharsSpecial" value="-" />
						<param key="ConnectionName" value="WpcServer" />
						<param key="SpinitServicesAddress" value="http://devservices.spinit.se" />
						<param key="SpinitServicesUserName" value="SpinitSendUser" />
						<param key="SpinitServicesPassword" value="hemligt" />
						<param key="SpinitServicesPasswordType" value="Sha1" />
						<param key="SpinitServicesPasswordEncoding" value="Utf-8" />
						<param key="AuthenticationFolder" value=" "/>
						<param key="ControlPropertyMapFilePath" value="D:\Inetpub\Synologen\Common\Templates\ControlPropertyMap.xml" />
						<param key="ControlTemplateFilePath" value="D:\Inetpub\Synologen\Common\Templates\ControlTemplate.xml" />
						<param key="ThrowExceptionIfControlIsNotMapped" value="false" />
					</params>
				</Config>
				<Config component="base">
					<params>
						<!-- File and wysiwyg configurations. -->
						<param key="filepath" value="D:\Inetpub\Synologen\Common\Files\"/>
						<param key="fileurl" value="/commonresources/files/"/>
						<param key="csspath" value="D:\Inetpub\Synologen\Common\Styles\"/>
						<param key="cssurl" value="/commonresources/styles/"/>
						<param key="contenttemplatepath" value="D:\Inetpub\Synologen\Common\Templates\Master\"/>
						<param key="contenttemplateurl" value="/commonResources/templates/master/"/>
						<param key="pagetemplatepath" value="D:\Inetpub\Synologen\Common\Templates\Snippet\"/>
						<param key="pagetemplateurl" value="/commonResources/templates/snippet/"/>
						<param key="mailtemplatepath" value="D:\Inetpub\Synologen\Common\MailTemplates\"/>
						<param key="wysiwygconfigpath" value="/CommonResources/CommonControls/Wysiwyg/RadControls/Editor/ConfigFile.xml"/>
						<param key="imagetype" value="gif,jpg,jpeg,png,bmp"/>
						<param key="flashtype" value="swf"/>
						<param key="mediatype" value="avi,mpeg,wmf"/>
						<param key="doctype" value="doc,pdf,xls,txt,eps,ppt"/>
						<!-- end -->
						<!-- Base component configuration -->
						<param key="componentimage" value="/common/img/component.gif"/>
						<param key="defaultresolution" value="72"/>
						<param key="defaultthumbnailheight" value="150"/>
						<param key="defaultthumbnailwidth" value="150"/>
						<param key="ProductName" value="Web Portal Components"/>
						<param key="ProductVersion" value="4.0"/>
						<param key="ProductBodyId" value="web-portal-components-4"/>
						<param key="CopyrightInfo" value="Copyright 2006"/>
						<param key="name" value="Base"/>
						<param key="baseurl" value="http://www.synologen.nu/" />
						<param key="currentLocationId" value="2"/>
						<param key="currentLanguageId" value="1"/>
						<!-- 1=plain, 2=Sha1-hashed, 3=MD5-hashed, 4=Encrypted -->
						<param key="passwordtype" value="1"/>
						<!-- One of 'utf-8' or 'iso-8859-1'-->
						<param key="passwordencoding" value="utf-8"/>
						<!-- end -->
						<!-- Email configurations. -->
						<param key="smtpserver" value="mail.esend.nu"/>
						<param key="emaillogfile" value="D:\Inetpub\Synologen\Common\Temp\maillog.log"/>
						<param key="emailuselogfile" value="false"/>
						<param key="emailappendlogfile" value="false"/>
						<param key="emailqueue" value="D:\Inetpub\Synologen\Common\Temp"/>
						<param key="emailsendtoqueue" value="false"/>
						<param key="emailretry" value="5"/>
						<param key="emailretrydelay" value="5000"/>
						<param key="emailtmpdir" value="D:\Inetpub\Synologen\Common\Temp"/>
						<!-- end -->
						<!-- Email template files. -->
						<param key="MailTemplate_ForgottenPassword" value="Core-ForgottenPassword.txt"/>
						<param key="MailTemplate_PasswordChanged" value="Core-PasswordChanged.txt"/>
						<param key="MailTemplate_UserDetails" value="Core-UserDetails.txt"/>
						<!-- end -->
						<param key="DefaultLanguage" value="sv-SE" />
						<!-- Mails sent from base start-->
						<param key="ForgottenPasswordMailName" value=".."/>
						<param key="TipAFriendMailName" value=".."/>
						<!-- Mails sent from base end-->
					</params>
				</Config>
				<Config component="calendar">
					<params>
						<param key="name" value="Calendar"/>
						<param key="enableDocumentLinks" value="true"/>
					</params>
				</Config>
				<Config component="news">
					<params>
						<param key="name" value="News"/>
						<param key="componentApplicationPath" value="/components/News/"/>
						<!--
						<param key="showDetailUrl_sv" value="/Nyhetsarkiv/Nyheter.aspx"/>
						<param key="showDetailUrl_en" value="/Nyhetsarkiv/Nyheter.aspx"/>
						-->
						<param key="connectionName" value="WpcServer"/>
						<param key="EnableSpotImage" value="true"/>
						<param key="EnableSpotImageAlign" value="false"/>
						<param key="EnableNewsType" value="false"/>
						<param key="EnableGroupConnection" value="false"/>
						<param key="DefaultSpotImageWidth" value="200"/>
						<param key="DefaultSpotImageHeight" value="180"/>
						<param key="EnableMultilineHeader" value="false" />
						<param key="DetailContentPageId" value="1366"/>
						<param key="DefaultMaxRssItemsInFeed" value="15"/>
					</params>
				</Config>
				<Config component="campaign">
					<params>
						<param key="name" value="Campaign"/>
						<param key="componentApplicationPath" value="/components/Campaign/"/>
						<param key="orderemail" value="order@synologen.nu"/>
					</params>
				</Config>
				<Config component="member">
					<params>
						<param key="name" value="Member"/>
						<param key="membernewscategory" value="6"/>
						<param key="connectionName" value="WpcServer" />
						<param key="fetchMemberDetailsFromDb" value="true"/>

					</params>
				</Config>
				<Config component="synologen">
					<params>
						<param key="name" value="Synologen"/>
						<param key="defaultNewOrderStatus" value="1"/>
						<param key="defaultOrderStatusAfterSPCSInvoice" value="2"/>
						<param key="editableOrderStatusList" value="1,4"/>
						<param key="editOrderPage" value="/EditOrderPage.aspx"/>
						<param key="viewOrderPage" value="/ViewOrderPage.aspx"/>
						<param key="editMemberPage" value="/EditMemberPage.aspx"/>
						<param key="viewSettlementPage" value="/ViewSettlementPage.aspx"/>
						<param key="abortStatusId" value="3"/>
						<param key="haltedStatusId" value="4"/>
						<!-- Timeouts in minutes -->
						<param key="cacheTimeout" value="1"/>
						<param key="securityLogoutTimeout" value="1"/>
					</params>
				</Config>
				<Config component="content">
					<params>
						<param key="UserName" value="Admin" />
						<param key="CacheDBServerName" value="WpcCacheDBServer" />
						<param key="CacheTableTrigger" value="tblContTree" />
						<param key="CacheDuration" value="300" />
						<param key="CacheEnabled" value="true" />
						<param key="CacheVaryByParams" value="*" />
						<param key="CacheVaryByCustom" value="PageName"/>
						<param key="UniqueBodyClassFormat" value="page-{0}" />
						<param key="BodyId" value="wpcbody" />
					</params>
				</Config>
				<Config component="courses">
					<params>
						<param key="name" value="Courses"/>
						<param key="componentApplicationPath" value="/components/Courses/"/>
						<param key="NewCourseApplication" value="Courses-Application.txt"/>
						<param key="CourseApplicationConfirmation" value="Courses-ApplicationConfirmation.txt"/>
						<param key="CourseApplicationReminder" value="Courses-ApplicationReminder.txt"/>
						<param key="EmailReplyAddress" value="noreply@wpc.nu"/>
						<param key="enableApplicationsListOnCourseView" value="true"/>
					</params>
				</Config>
			</Configs>
		</ComponentConfig>
	</Wpc>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen5;Data Source=BLACK;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<caching>
			<sqlCacheDependency>
				<databases>
					<!--Default database poll time: 30 seconds-->
					<add name="WpcCacheDBServer" connectionStringName = "WpcServer" pollTime = "30000" />
				</databases>
			</sqlCacheDependency>
		</caching>
		<!-- compilation batch="false" can be set to avoid a CS0433 compilation error. -->
		<compilation debug="true" batch="false" />
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="spinit" assembly="Spinit.Web.UI.WebControls.MessageManager" namespace="Spinit.Web.UI.WebControls"/>
				<add tagPrefix="content.site" assembly="Spinit.Wpc.Content.Presentation.Site" namespace="Spinit.Wpc.Content.Presentation.Site.Code" />
				<add tagPrefix="WpcBase" tagName="ActiveUsersControl" src="~/wpc/Base/ActiveUsersControl.ascx" />
				<add tagPrefix="WpcBase" tagName="ChangePassword" src="~/wpc/Base/ChangePassword.ascx" />
				<add tagPrefix="WpcBase" tagName="ForgottenPassword" src="~/wpc/Base/ForgottenPassword.ascx" />
				<add tagPrefix="WpcBase" tagName="LoggedOnAsControl" src="~/wpc/Base/LoggedOnAsControl.ascx" />
				<add tagPrefix="WpcBase" tagName="LoginControl" src="~/wpc/Base/LoginControl.ascx" />
				<add tagPrefix="WpcBase" tagName="LoginHistoryControl" src="~/wpc/Base/LoginHistoryControl.ascx" />
				<add tagPrefix="WpcBase" tagName="LogoutControl" src="~/wpc/Base/LogoutControl.ascx" />
				<add tagPrefix="WpcBase" tagName="NewPassword" src="~/wpc/Base/NewPassword.ascx" />
				<add tagPrefix="WpcBase" tagName="SelectGroup" src="~/wpc/Base/SelectGroup.ascx" />
				<add tagPrefix="WpcBase" tagName="TipAFriend" src="~/wpc/Base/TipAFriend.ascx" />				
				<add tagPrefix="WpcContent" tagName="Menu" src="~/wpc/Content/Menu.ascx" />
				<add tagPrefix="WpcContent" tagName="BreadCrumb" src="~/wpc/Content/BreadCrumb.ascx" />
				<add tagPrefix="WpcContent" tagName="MenuTitle" src="~/wpc/Content/MenuTitle.ascx" />
				<add tagPrefix="WpcContent" tagName="SiteMap" src="~/wpc/Content/SiteMap.ascx" />
				<add tagPrefix="WpcContent" tagName="UnfoldingMenu" src="~/wpc/Content/UnfoldingMenu.ascx" />
				<add tagPrefix="WpcCommerce" tagName="ArticleList" src="~/wpc/Commerce/ArticleList.ascx" />
				<add tagPrefix="WpcCommerce" tagName="CategoryList" src="~/wpc/Commerce/CategoryList.ascx" />
				<add tagPrefix="WpcCommerce" tagName="CategoryTree" src="~/wpc/Commerce/CategoryTree.ascx" />
				<add tagPrefix="WpcCommerce" tagName="ProductList" src="~/wpc/Commerce/ProductList.ascx" />
				<add tagPrefix="WpcCommerce" tagName="Products" src="~/wpc/Commerce/Products.ascx" />
				<add tagPrefix="WpcCommerce" tagName="ProductSearch" src="~/wpc/Commerce/ProductSearch.ascx" />
				<add tagPrefix="WpcCommerce" tagName="ShowCategory" src="~/wpc/Commerce/ShowCategory.ascx" />
				<add tagPrefix="WpcCommerce" tagName="ShowProduct" src="~/wpc/Commerce/ShowProduct.ascx" />
				<add tagPrefix="WpcCourses" tagName="CategoryMainList" src="~/wpc/Courses/CategoryMainList.ascx" />
				<add tagPrefix="WpcCourses" tagName="CourseSpot" src="~/wpc/Courses/CourseSpot.ascx" />
				<add tagPrefix="WpcCourses" tagName="MainCourseList" src="~/wpc/Courses/MainCourseList.ascx" />
				<add tagPrefix="WpcCourses" tagName="MainList" src="~/wpc/Courses/MainList.ascx" />
				<add tagPrefix="WpcDocument" tagName="ViewDocument" src="~/wpc/Document/ViewDocument.ascx" />
				<add tagPrefix="WpcDocument" tagName="Document" src="~/wpc/Document/Document.ascx" />
				<add tagPrefix="WpcDocument" tagName="LatestDocuments" src="~/wpc/Document/LatestDocuments.ascx" />
				<add tagPrefix="WpcGallery" tagName="ViewImage" src="~/wpc/Gallery/ViewImage.ascx" />
				<add tagPrefix="WpcGallery" tagName="FileList" src="~/wpc/Gallery/FileList.ascx" />
				<add tagPrefix="WpcGallery" tagName="FileViewer" src="~/wpc/Gallery/FileViewer.ascx" />
				<add tagPrefix="WpcGallery" tagName="Gallery" src="~/wpc/Gallery/Gallery.ascx" />
				<add tagPrefix="WpcGallery" tagName="GalleryList" src="~/wpc/Gallery/GalleryList.ascx" />
				<add tagPrefix="WpcGallery" tagName="Upload" src="~/wpc/Gallery/Upload.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberList" src="~/wpc/Member/MemberList.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberInfo" src="~/wpc/Member/MemberInfo.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberListByCategory" src="~/wpc/Member/MemberListByCategory.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberProfile" src="~/wpc/Member/MemberProfile.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberAdList" src="~/wpc/Member/MemberAdList.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberAdDetailedList" src="~/wpc/Member/MemberAdDetailedList.ascx" />
				<add tagPrefix="WpcMember" tagName="AddEditMemberAd" src="~/wpc/Member/AddEditMemberAd.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberFileCategories" src="~/wpc/Member/MemberFileCategories.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberPage" src="~/wpc/Member/MemberPage.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberNews" src="~/wpc/Member/MemberNews.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberFileCategories" src="~/wpc/Member/MemberFileCategories.ascx" />
				<add tagPrefix="WpcMember" tagName="MemberFilesThumbs" src="~/wpc/Member/MemberFilesThumbs.ascx" />
				<add tagPrefix="WpcMember" tagName="AdminMemberNews" src="~/wpc/Member/AdminMemberNews.ascx" />
				<add tagPrefix="WpcMember" tagName="AdminMemberFiles" src="~/wpc/Member/AdminMemberFiles.ascx" />
				<add tagPrefix="WpcNews" tagName="NewsList" src="~/Wpc/News/NewsList.ascx" />
				<add tagPrefix="WpcNews" tagName="NewsFull" src="~/Wpc/News/NewsFull.ascx" />
				<add tagPrefix="WpcNews" tagName="NewsFullAlternative" src="~/Wpc/News/NewsFullAlternative.ascx" />
				<add tagPrefix="WpcNews" tagName="Show" src="~/Wpc/News/Show.ascx" />
				<add tagPrefix="WpcNews" tagName="RssHeaderLink" src="~/Wpc/News/RssHeaderLink.ascx" />
				<add tagPrefix="WpcNews" tagName="RssFeedList" src="~/Wpc/News/RssFeedList.ascx" />
				<add tagPrefix="WpcNews" tagName="IntranetSpotNews" src="~/Wpc/News/IntranetSpotNews.ascx" />
				<add tagPrefix="WpcNews" tagName="IntranetNewsListAlternative" src="~/Wpc/News/IntranetNewsListAlternative.ascx" />
				<add tagPrefix="WpcQuickForm" tagName="Form" src="~/Wpc/QuickForm/Form.ascx" />
				<add tagPrefix="WpcForum" tagName="TopPosts" src="~/Wpc/Forum/TopPosts.ascx" />
				<add tagPrefix="WpcSynologen" tagName="CityShopList" src="~/Wpc/Synologen/CityshopList.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="CreateOrder" src="~/Wpc/Synologen/CreateOrder.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="EditMember" src="~/Wpc/Synologen/EditMember.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="EditOrder" src="~/Wpc/Synologen/EditOrder.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="EditShop" src="~/Wpc/Synologen/EditShop.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="SalesList" src="~/Wpc/Synologen/SalesList.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="SecurityLogout" src="~/Wpc/Synologen/SecurityLogout.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="SettlementList" src="~/Wpc/Synologen/SettlementList.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="ShopList" src="~/Wpc/Synologen/ShopList.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="ShopMemberList" src="~/Wpc/Synologen/ShopMemberList.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="ViewOrder" src="~/Wpc/Synologen/ViewOrder.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="ViewSettlement" src="~/Wpc/Synologen/ViewSettlement.ascx"/>
				<add tagPrefix="WpcSynologen" tagName="FrameOrder" src="~/Wpc/Synologen/FrameOrder.ascx" />
				<add tagPrefix="WpcSynologen" tagName="FrameOrderView" src="~/Wpc/Synologen/FrameOrderView.ascx" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms name="Extranet" path="/" loginUrl="Login/Login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
		<xhtmlConformance mode="Legacy" />
		<httpModules>
			<add name="UnitOfWorkModule" type="Spinit.Wpc.Synologen.Presentation.Site.UnitOfWorkModule"/>
		</httpModules>

		<!--Maxlength upload 20 MB-->
		<httpRuntime maxRequestLength="20480" />

	</system.web>
	<location path="Lev">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Synolog">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Login/Glomt-losenord.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>