<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Wpc">
			<section name="ComponentMain" type="Spinit.Wpc.Utility.Business.ComponentSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="ComponentConfig" type="Spinit.Wpc.Utility.Business.ConfigSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="ThreadConfig" type="Spinit.Wpc.Utility.Business.ThreadSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<sectionGroup name="forums">
			<section name="forums" type="Spinit.Wpc.Forum.Configuration.ForumsConfigurationHandler, Spinit.Wpc.Forum.Components"/>
		</sectionGroup>
	</configSections>
	<Wpc>
		<ThreadConfig>
			<Config component="thread">
				<params>
					<param key="active" value="true" />
					<param key="clean" value="false" />
					<param key="threaduser" value="Admin" />
					<!-- cleaninterval in minutes -->
					<param key="cleaninterval" value="2" />
				</params>
			</Config>
			<Threads>
				<!-- name="name of thread" (IsRequired = true) -->
				<!-- interval="timeinterval" (IsRequired = true) -->
				<!-- timetype="0=minutes(default),1=hours,2=days,3=weeks,4=months" (IsRequired = false) -->
				<!-- type="class-name, dll" alt. type="dll.classname" (IsRequired = true) -->
				<add name="Email" interval="2" type="Spinit.Wpc.Base.Business.EmailThread, Spinit.Wpc.Base.Business" />
			</Threads>
		</ThreadConfig>

		<ComponentMain>
			<Config component="component">
				<params>
					<param key="Active" value="true" />
					<param key="MaxCountLatestChanges" value="20" />
					<param key="MaxCountCmpForApproval" value="10" />
					<param key="MaxCountCmpSavedForLater" value="10" />
					<param key="MaxCountCmpLatestChanges" value="10" />
				</params>
			</Config>
			<Components>
				<!-- type="class-name, dll" alt. type="dll.classname" -->
				<add name="Member" type="Spinit.Wpc.Member.Business.WpcMainPage"/>
        			<add name="Content" type="Spinit.Wpc.Content.Business.ShowMainPage" />
				<add name="News" type="Spinit.Wpc.News.Business.WpcMainPage"/>
				<add name="Courses" type="Spinit.Wpc.Courses.Business.WpcMainPage"/>
			</Components>
		</ComponentMain>
		<ComponentConfig>
			<Configs>
				<Config component="base">
					<params>
						<!-- File and wysiwyg configurations. -->
						<param key="filepath" value="D:\Inetpub\Synologen\common\files\"/>
						<param key="fileurl" value="/CommonResources/Files/"/>
						<param key="csspath" value="D:\Inetpub\Synologen\common\css\"/>
						<param key="cssurl" value="/CommonResources/Css/"/>
						<param key="contenttemplatepath" value="D:\Inetpub\Synologen\common\templates\Content\"/>
						<param key="contenttemplateurl" value="/CommonResources/Templates/Content/"/>
						<param key="pagetemplatepath" value="D:\Inetpub\Synologen\common\templates\Page\"/>
						<param key="pagetemplateurl" value="/CommonResources/Templates/Page/"/>
						<param key="mailtemplatepath" value="D:\Inetpub\Synologen\common\MailTemplates\"/>
						<param key="wysiwygconfigpath" value="/CommonResources/CommonControls/Wysiwyg/RadControls/Editor/ConfigFile.xml"/>
						<param key="imagetype" value="gif,jpg,jpeg,png,bmp"/>
						<param key="flashtype" value="swf"/>
						<param key="mediatype" value="avi,mpeg,wmf"/>
						<param key="doctype" value="doc,pdf,xls,txt,eps,ppt"/>
						<!-- end -->
						<!-- Base component configuration -->
						<param key="componentimage" value="/common/img/component.gif"/>
						<param key="defaultresolution" value="72"/>
						<param key="defaultthumbnailheight" value="150"/>
						<param key="defaultthumbnailwidth" value="150"/>
						<param key="ProductName" value="Web Portal Components"/>
						<param key="ProductVersion" value="4.0"/>
						<param key="ProductBodyId" value="web-portal-components-4"/>
						<param key="CopyrightInfo" value="Copyright 2006"/>
						<param key="name" value="Base"/>
           					<param key="baseurl" value="http://www.synologen.nu/" />
						<param key="currentLocationId" value="2"/>
						<param key="currentLanguageId" value="1"/>
						<!-- 1=plain, 2=Sha1-hashed, 3=MD5-hashed, 4=Encrypted -->
						<param key="passwordtype" value="1"/>
						<!-- One of 'utf-8' or 'iso-8859-1'-->
						<param key="passwordencoding" value="utf-8"/>
						<!-- end -->
						<!-- Email configurations. -->
						<param key="smtpserver" value="mail.esend.nu"/>
						<param key="emaillogfile" value="D:\Inetpub\Synologen\Common\Temp\maillog.log"/>
						<param key="emailuselogfile" value="false"/>
						<param key="emailappendlogfile" value="false"/>
						<param key="emailqueue" value="D:\Inetpub\Synologen\Common\Temp"/>
						<param key="emailsendtoqueue" value="false"/>
						<param key="emailretry" value="5"/>
						<param key="emailretrydelay" value="5000"/>
						<param key="emailtmpdir" value="D:\Inetpub\Synologen\Common\Temp"/>
						<!-- end -->
						<!-- Email template files. -->
						<param key="MailTemplate_ForgottenPassword" value="Core-ForgottenPassword.txt"/>
						<param key="MailTemplate_PasswordChanged" value="Core-PasswordChanged.txt"/>
						<param key="MailTemplate_UserDetails" value="Core-UserDetails.txt"/>
						<!-- end -->
						<param key="DefaultLanguage" value="sv-SE" />
					</params>
				</Config>
				<Config component="calendar">
					<params>
						<param key="name" value="Calendar"/>
						<param key="enableDocumentLinks" value="true"/>
					</params>
				</Config>
				<Config component="news">
					<params>
						<param key="name" value="News"/>
						<param key="componentApplicationPath" value="/components/News/"/>
						<param key="showDetailUrl_sv" value="/Nyhetsarkiv/Nyheter.aspx"/>
						<param key="showDetailUrl_en" value="/Nyhetsarkiv/Nyheter.aspx"/>
						<param key="connectionName" value="WpcServer"/>
					</params>
				</Config>
				<Config component="campaign">
					<params>
						<param key="name" value="Campaign"/>
						<param key="componentApplicationPath" value="/components/Campaign/"/>
						<param key="orderemail" value="order@synologen.nu"/>
					</params>
				</Config>
				<Config component="member">
					<params>
						<param key="name" value="Member"/>
						<param key="membernewscategory" value="6"/>
						<param key="fetchMemberDetailsFromDb" value="true"/>
					</params>
				</Config>
				<Config component="synologen">
					<params>
						<param key="name" value="Synologen"/>
						<param key="defaultNewOrderStatus" value="1"/>
						<param key="defaultOrderStatusAfterSPCSInvoice" value="2"/>
						<param key="editableOrderStatusList" value="1,4"/>
						<param key="editOrderPage" value="/EditOrderPage.aspx"/>
						<param key="viewOrderPage" value="/ViewOrderPage.aspx"/>
						<param key="editMemberPage" value="/EditMemberPage.aspx"/>
						<param key="viewSettlementPage" value="/ViewSettlementPage.aspx"/>
						<param key="abortStatusId" value="3"/>
						<param key="haltedStatusId" value="4"/>
						<!-- Timeouts in minutes -->
						<param key="cacheTimeout" value="1"/>
						<param key="securityLogoutTimeout" value="1"/>
					</params>
				</Config>
				<Config component="content">
					<params>
						<param key="UserName" value="Admin" />
						<param key="CacheDBServerName" value="WpcCacheDBServer" />
						<param key="CacheTableTrigger" value="tblContTree" />
						<param key="CacheDuration" value="300" />
						<param key="CacheEnabled" value="true" />
						<param key="CacheVaryByParams" value="*" />
						<param key="CacheVaryByCustom" value="PageName"/>
					</params>
				</Config>
				<Config component="courses">
					<params>
						<param key="name" value="Courses"/>
						<param key="componentApplicationPath" value="/components/Courses/"/>
						<param key="NewCourseApplication" value="Courses-Application.txt"/>
						<param key="CourseApplicationConfirmation" value="Courses-ApplicationConfirmation.txt"/>
						<param key="CourseApplicationReminder" value="Courses-ApplicationReminder.txt"/>
						<param key="EmailReplyAddress" value="noreply@wpc.nu"/>
						<param key="enableApplicationsListOnCourseView" value="true"/>
					</params>
				</Config>
			</Configs>
		</ComponentConfig>
	</Wpc>
	<connectionStrings>
		<add name="WpcServer" connectionString="Initial Catalog=dbWpcSynologen;Data Source=BLACK;uid=sa;pwd=RICE17A;Pooling=true;Connect Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
	</appSettings>
	<system.web>
	  <caching>
		  <sqlCacheDependency>
			  <databases>
					<!--Default database poll time: 30 seconds-->
				  <add name="WpcCacheDBServer" connectionStringName = "WpcServer" pollTime = "30000" />
			  </databases>
		  </sqlCacheDependency>
	  </caching>
	<!-- compilation batch="false" can be set to avoid a CS0433 compilation error. -->
	<compilation debug="true" batch="false" />
    <pages validateRequest="false"/>
    <customErrors mode="Off" />
		<authentication mode="Forms">
			<forms name="Extranet" path="/" loginUrl="Login/Login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
    <xhtmlConformance mode="Legacy" />

    <!--Maxlength upload 20 MB-->
    <httpRuntime maxRequestLength="20480" />
    
  </system.web>
  <location path="Lev">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Synolog">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Login/Glomt-losenord.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>