/* =Components-Document-Documents-aspx
================================================*/
.Components-Document-Documents-aspx .tableContainer tbody tr td:first-child {text-align: center;}
.Components-Document-Documents-aspx .tableContainer tbody tr td:first-child + td {text-align: center;}
.Components-Document-Documents-aspx .filesSiderbar {width: 380px; padding: 10px; background-color: #DDD;}
.Components-Document-Documents-aspx .margin {float: left; width: 380px; padding: 10px 0; background-color: #EEE;}
.Components-Document-Documents-aspx .sidebarClose {position: absolute; right: 20px;}
.Components-Document-Documents-aspx .sidebarClose a {position: relative; top: -20px; padding: .5em; color: White; background-color: #AAA; border: 0;}

/* =Components-Document-Documents-MoveManager-ascx
================================================*/
.Components-Document-MoveManager-ascx .treeView {margin-bottom: .5em; clear: both;}
.Components-Document-MoveManager-ascx .treeView label {float: none;}

/* =Components-Document-Documents-PropertiesManager-ascx
================================================*/
.Components-Document-PropertiesManager-ascx .tabsContentContainer {padding-bottom: 15px;}
