/* =Page specific style rules for IE 7-
================================================*/
.Components-Document-Documents-aspx .tableContainer {overflow: inherit;}
.Components-Document-Documents-aspx .displayAsTable .tableCell {float: left; max-width: 50%; margin: 0 15px 15px 0;}
.Components-Document-Documents-aspx .margin {width: 100%;}
.Components-Document-Documents-aspx .sidebarClose {display: none;}
Components-Document-MoveManager-ascx,
.Components-Document-NewFolder-ascx .formCommands {width: 100%;}

/* =Filters for IE 6-
================================================*/

/* =Page specific filters for IE 6-
================================================*/
* html .Components-Document-Documents-aspx .displayAsTable .tableCell {width: 40%;}