<?xml version="1.0" encoding="utf-8" ?> 
<urls>

        <!-- 
        ****************
        Note, the ^ symbol is used in place of the & symbol used in the query string 
        the value is replace when the SiteUrls.config file is processed.
        ****************
        -->

	<!-- 
	// Global paths
	//
	-->
	<url name="home" path="/" />
	<url name="login" path="/login.aspx?ReturnUrl={0}" />
	<url name="logout" path="/logout.aspx" />
	<url name="faq" path="/languages/{0}/docs/faq.aspx" />
	<url name="message" path="/Msgs/default.aspx?MessageID={0}" />
	<url name="forum" path="/ShowForum.aspx?ForumID={0}" />
	<url name="forumGroup" path="/default.aspx?ForumGroupID={0}" />
	<!--
	// Admin should provide the link for their site's terms of use agreement
	//
	-->
	<url name="termsOfUse" path="/" />

        <!--
        // Search friendly
        //
        -->
	<url name="searchFriendlyForum" path="/F${0}/ShowForum.aspx" />
	<url name="searchFriendlyForumGroup" path="/G${0}/default.aspx" />
	<url name="searchFriendlyPost" path="/P${0}/ShowPost.aspx" />
	<url name="searchFriendlyUser" path="/U${0}/User/Profile.aspx" />

	<!--
	// Private Messages
	//
	-->
	<url name="privateMessages" path="/User/PrivateMessages/" />
	<url name="privateMessage" path="/AddPost.aspx?ForumID=0^UserId={0}" />

	<!--
	// Email
	//
	-->
	<url name="email_ToUser" path="/User/SendEmail.aspx?UserId={0}" />

	<!--
	// Search
	//
	-->
	<url name="search" path="/Search/" />
	<url name="search_Advanced" path="/Search/AdvancedSearch.aspx" />
	<url name="search_ForText" path="/Search/SearchResults.aspx?q={0}^f={1}^u={2}" />
	<url name="search_ForUser" path="/User/ForumMembers.aspx?q={0}" />
	<url name="search_ForUserAdmin" path="/Admin/ManageMembers.aspx?q={0}" />

	<!--
	// Posting
	//
	-->
	<url name="post" path="/ShowPost.aspx?PostID={0}" />
	<url name="post_Print" path="/PrintPost.aspx?PostID={0}" />
	<url name="post_InPage" path="/ShowPost.aspx?PostID={0}#{1}" />
	<url name="post_Paged" path="/ShowPost.aspx?PageIndex={0}^PostID={1}#{2}" />
	<url name="post_Reply" path="/AddPost.aspx?PostID={0}" />
	<url name="post_Quote" path="/AddPost.aspx?PostID={0}^Quote={1}" />
	<url name="post_Edit" path="/EditPost.aspx?PostID={0}^ReturnUrl={1}" />
	<url name="post_Delete" path="/DeletePost.aspx?PostID={0}^ReturnUrl={1}" />
	<url name="post_Create" path="/AddPost.aspx?ForumID={0}" />
	<url name="post_Unanswered" path="/UnansweredTopics.aspx" />
	<url name="post_Active" path="/ActiveTopics.aspx" />
	<url name="post_Rating" path="/Utility/PostRating.aspx?PostID={0}" />
	<url name="post_Attachment" path="/PostAttachment.aspx?PostID={0}" />

	<!--
	// Help paths
	//
	-->
	<url name="help_ThreadIcons" path="/languages/{0}/docs/faq.aspx#58" />

	<!--
	// User paths
	//
	-->
	<url name="user" path="/User/Profile.aspx?UserID={0}" />
	<url name="user_List" path="/User/ForumMembers.aspx" />
	<url name="user_Register" path="/User/CreateUser.aspx?ReturnUrl={0}" />
	<url name="user_EditProfile" path="/User/EditProfile.aspx?ReturnUrl={0}" />
	<url name="user_MyForums" path="/User/MyForums.aspx" />
	<url name="user_ChangePassword" path="/User/ChangePassword.aspx" />
	<url name="user_ChangePasswordAnswer" path="/User/ChangePasswordAnswer.aspx" />
	<url name="user_ForgotPassword" path="/User/EmailForgottenPassword.aspx" />
	<url name="user_Roles" path="/User/RoleMembers.aspx?RoleID={0}" />

	<!--
	// Moderation paths
	//
	-->
	<url name="moderate" path="/Moderate/default.aspx" />
	<url name="moderate_ViewPost" path="/Moderate/ShowPost.aspx?PostID={0}" />
	<url name="moderate_ViewUserProfile" path="/Moderate/Profile.aspx?UserID={0}" />
	<url name="moderate_Home" path="/Moderate/home.aspx" />
	<url name="moderate_Posts" path="/Moderate/ModerateForum.aspx?ForumID={0}" />
	<url name="moderate_Thread" path="/Moderate/ModerateThread.aspxlink?PostID={0}" />
	<url name="moderate_Post_Delete" path="/Moderate/DeletePost.aspx?PostID={0}&amp;q=childposts^ReturnUrl={1}" />
	<url name="moderate_Post_Edit" path="/EditPost.aspx?PostID={0}^ReturnUrl={1}" />
	<url name="moderate_ForumSplitView" path="/Moderate/ModerateForumSplitView.aspx?ForumID={0}" />
	<url name="moderate_Forum" path="/Moderate/ModerateForum.aspx?ForumID={0}" />
	<url name="moderation_History" path="/Moderate/ModerationHistory.aspx?PostID={0}" />
	<url name="moderate_Post_Move" path="/Moderate/Thread-Move.aspx?PostID={0}^ReturnUrl={1}" />
	<url name="moderate_Thread_Split" path="/Moderate/Thread-Split.aspx?PostID={0}^ReturnUrl={1}" />
	<url name="moderate_Thread_Join" path="/Moderate/Thread-Join.aspx?PostID={0}^ReturnUrl={1}" />

	<!--
	// Admin paths
	//
	-->
	<url name="admin" path="/Admin/default.aspx" />
	<url name="admin_Configuration" path="/Admin/SiteSettings.aspx" />
	<url name="admin_Forums" path="/Admin/ManageForums.aspx" />
	<url name="admin_Forum_Edit" path="/Admin/ForumAdmin.aspx?ForumID={0}" />
	<url name="admin_Forum_Create" path="/Admin/CreateNewForum.aspx" />
	<url name="admin_Forum_Permissions" path="/Admin/ManageForumPermissions.aspx" />
	<url name="admin_Forum_Permissions_Edit" path="/Admin/ForumPermissionAdmin.aspx?ForumId={0}&amp;RoleId={1}" />
	<url name="admin_User_Edit" path="/Admin/MemberAdmin.aspx?UserID={0}" />
	<url name="admin_User_Configuration" path="/Admin/MemberConfiguration.aspx" />
	<url name="admin_User_List" path="/Admin/ManageMembers.aspx" />
	<url name="admin_Roles" path="/Admin/ManageRoles.aspx" />
	<url name="admin_Role_Edit" path="/Admin/RoleAdmin.aspx?RoleId={0}" />
	<url name="admin_Home" path="/Admin/home.aspx" />
	<url name="admin_User_ChangePassword" path="/User/ChangePassword.aspx?UserID={0}" />
	<url name="admin_User_ChangePasswordAnswer" path="/User/ChangePasswordAnswer.aspx?UserID={0}" />
	<url name="admin_User_UserRolesAdmin" path="/Admin/UserRolesAdmin.aspx?UserID={0}" />
	<url name="admin_Ranks" path="/Admin/ManageRanks.aspx" />
	<url name="admin_Names" path="/Admin/ManageNames.aspx" />
	<url name="admin_Censorships" path="/Admin/ManageCensorships.aspx" />
	<url name="admin_Smilies" path="/Admin/ManageSmilies.aspx" />
	<url name="admin_MassEmail" path="/Admin/MassEmailingAdmin.aspx" />
	<url name="admin_ForumGroup" path="/Admin/ForumGroupAdmin.aspx?ForumGroupId={0}" />
	<url name="admin_Reports_BuiltIn" path="/Admin/Reports/BuiltInReports.aspx?ReportMode=0" />
	<!--
	// RSS paths
	//
	-->
	<url name="rss" path="/rss.aspx?ForumID={0}^Mode={1}" />

	<!--
	// Who is Online
	//
	-->
	<url name="whoIsOnline" path="/ViewOnline.aspx" />

	<!--
	// Wait page
	//
	-->
	<url name="wait" path="/Utility/WaitPage.aspx?TargetUrl={0}" />
</urls>
