<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReadFilesRootPath" value="C:\Develop\WPC\CustomerSpecific\Synologen\trunk\Synologen IntegrationTests.FileIO\ReadTestfiles\"/>
		<add key="WriteOutputRootPath" value="C:\Develop\WPC\CustomerSpecific\Synologen\trunk\Synologen IntegrationTests.FileIO\WriteOutput\"/>
	</appSettings>
</configuration>