<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<sectionGroup name="Wpc">
			<section name="ComponentConfig" type="Spinit.Wpc.Utility.Business.ConfigSectionHandler, Spinit.Wpc.Utility.Business, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	<Wpc>
		<ComponentConfig>
			<Configs>
				<Config component="utility">
					<params>
						<param key="ResourcePath" value="[ServerMapPath]\Common\" />
						<param key="ResourceUrl" value="/CommonResources/" />
						<param key="ScriptsPath" value="[ServerMapPath]\Common\Scripts\" />
						<param key="ScriptsUrl" value="Scripts/" />
						<param key="StylesPath" value="[ServerMapPath]\Common\Styles\" />
						<param key="StylesUrl" value="Styles/" />
						<param key="FilesPath" value="[ServerMapPath]\Common\Files\" />
						<param key="FilesUrl" value="Files/" />
						<param key="ContentTemplatePath" value="[ServerMapPath]\Common\ContentTemplates\" />
						<param key="ContentTemplateUrl" value="ContentTemplates/" />
						<param key="SnippetTemplatePath" value="[ServerMapPath]\Common\SnippetTemplate\" />
						<param key="SnippetTemplateUrl" value="SnippetTemplate/" />
						<param key="AuthenticationFolder" value=" "/>
						<param key="MailPath" value="[ServerMapPath]\Common\MailTemplates\" />
						<param key="MailFrom" value="info@spinit.se" />
						<param key="MinPasswordLength" value="6" />
						<param key="MaxPasswordLength" value="8" />
						<param key="PasswordCharsLowerCase" value="abcdefghijkmnopqrstuvwxyz" />
						<param key="PasswordCharsUpperCase" value="ABCDEFGHIJKLMNPQRSTUVWXYZ" />
						<param key="PasswordCharsNumeric" value="23456789" />
						<param key="PasswordCharsSpecial" value="-" />
						<param key="ConnectionName" value="Spinit.Wpc.Synologen.OPQ.Business.Test.Properties.Settings.ConnectionString" />
						<param key="SpintServicesAddress" value="http://services.spinit.se"/>
						<param key="SpintServicesUserName" value="[SpinitServicesUserName]"/>
						<param key="SpintServicesPassword" value="[SpinitServicesPassword]"/>
					</params>
				</Config>
				<Config component="SynologenOpq">
					<params>
						<param key="connectionName" value="Spinit.Wpc.Synologen.OPQ.Business.Test.Properties.Settings.ConnectionString" />
					</params>
				</Config>
			</Configs>
		</ComponentConfig>
	</Wpc>
    <connectionStrings>
        <add name="Spinit.Wpc.Synologen.OPQ.Business.Test.Properties.Settings.ConnectionString"
            connectionString="Data Source=DEV\SQL2008;Initial Catalog=WpcSynologenOpqBusinessTest;Persist Security Info=True;User ID=sa;Password=Rice17A" />
    </connectionStrings>
</configuration>